<ion-header class="ion-no-border">
  <ion-toolbar color="primary">
    <ion-title> Climabr </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size-sm="10" offset-sm="1" size-md="8" offset-md="2">
        <ion-searchbar
          debounce="500"
          placeholder="Buscar cidade..."
          #searchInput
          (ionChange)="onSearch(searchInput.value)"
        ></ion-searchbar>
        <app-error-message
          message="{{errorMessage}}"
          *ngIf="hasError"
        ></app-error-message>
        <ion-list lines="none" *ngIf="!hasError">
          <app-city-details
            *ngFor="let city of cities"
            id="{{city.id}}"
            name="{{city.name}}"
            state="{{city.state}}"
            (selectCity)="onSelectCity($event)"
          ></app-city-details>
        </ion-list>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="searchedCities?.length > 0">
      <ion-col size-sm="10" offset-sm="1" size-md="8" offset-md="2">
        <div class="title-last-searchs">
          <h3>Últimas consultas</h3>
          <button (click)="onClearCityHistory()">Limpar</button>
        </div>

        <div class="searched-cities-history">
          <ion-card
            button
            class="searched-city"
            *ngFor="let registry of searchedCities"
            (click)="onSelectCity(registry.city.id)" >
            <ion-card-header>
              <img src="{{registry.details.conditionIconUrl}}" alt="Testing">
              <div>
                <ion-card-subtitle>{{registry.city.state}}</ion-card-subtitle>
                <ion-card-title>{{registry.city.name}}</ion-card-title>
              </div>
            </ion-card-header>
            <div class="card-temperature">
              <p>{{registry.details.temp}}ºC</p>
            </div>
          </ion-card>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
